Client/Client/Service References/ServiceReference1/CustomService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PathData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathData" nillable="true" type="tns:PathData" />
</xs:schema>